body {
    background: #000000;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

.ordem {
    width: 290px;
    grid-area: 1 / 1 / 2 / 2;
}

h1 {
    font-size: 40px;
    padding-bottom: 0;
}

.subtitulo {
    font-style: normal;
    font-weight: 800;
    line-height: 78px;
    letter-spacing: 8px;
}

.texto-principal {
    font-size: 12px;
    font-weight: bold;
    color: #949495;
}

.clique {
    font-size: 13px;
    font-weight: bold;
    color: #949495;
}

.aqui {
    color: #FFFFFF;
    text-decoration: none;
}

.imagens {
    border: 1px solid #949495;
    border-radius: 5px;
}

.imagens-baixo {
    border: 1px solid #949495;
    border-radius: 5px;
}

.participantes {
    font-size: 9px;
    font-weight: bold;
    color: #FFFFFF;
}

.leo-box {
    text-align: left;
}

.leo {
    display: block;
}

a {
    text-decoration: none;
}

.pessoas {
}

.patrick-box {
    height: 20%;
    text-align: left;

}

.patrick {
    display: block;
}

.twitter {
    width: 10px;
    height: 10px;

}

.instagram {
    width: 15px;
    height: 15px;
}

.github {
    width: 14px;
    height: 14px;
}

.texto-redes-sociais {
    font-size: 8px;
    color: #FFFFFF;
    display: inline;
    padding: 7px;
}

.clipes {

    grid-area: 1 / 2 / 2 / 3;
}

ul {
    list-style: none;
    padding: 0px;
}

.descrição {
    font-size: 12px;
    color: #666666;

}

.data {
    font-size: 10px;
    color: #FFFFFF;
    font-weight: bold;

}

.play {

}

.titulos-clipes {
    font-size: 22px;
    font-weight: bold;
    padding-right: 2px;
}

.listas {

}

.links-dos-clipes {
    text-decoration: none;
    color: #FFFFFF
}

@media(max-width: 1000px) {
    .main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 500px);
    }
    .ordem {
        grid-area: 1 / 1 / 2 / 2;
    }
    .clipes {
        grid-area: 2 / 1 / 3 / 2;
    }
    .ordem,
    .clipes {
        width: 100%;
    }
}